# Rust
/target/
**/*.rs.bk
Cargo.lock

# Build outputs
build/
dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Temporary files
tmp/
*.log
docs/

# Node.js
ui/node_modules/
ui/dist/

#repomix
.repomixignore
repomix.config.json
repomix-output.txt