# Rust
/target/
**/*.rs.bk
Cargo.lock

# Build outputs
build/
dist/
packaging/deb/target/
packaging/deb/could-hypervisor
packaging/deb/cni-plugins.tgz

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Kilo
.kilo/

# MacOS
.DS_Store

# Temporary files
tmp/
*.log

# Node.js
ui/node_modules/
ui/dist/

#repomix
.repomixignore
repomix.config.json
# repomix-output.txt