[Unit]
Description=Ignite MicroVM Daemon
Documentation=https://github.com/Subeshrock/micro-vm-ecosystem
After=network.target

[Service]
Type=simple
User=ignite
Group=ignite
RuntimeDirectory=ignite
RuntimeDirectoryMode=0775
AmbientCapabilities=CAP_SYS_ADMIN CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_OVERRIDE
ExecStart=/usr/bin/ignited --socket-path /run/ignite/ignite.sock --http-port 3000
Restart=on-failure
RestartSec=5s
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
